body {
    margin: 0px;
    height: 800px;
    background-color: black;
    font-family: "Arial Narrow", "Times New Roman", Verdana;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url(./images/setting1.jpg);
    background-size: cover;
}

#container {
    display: flex;
    margin: auto;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 20px;
}

#board {
    height: 600px;
    width: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.row {
    flex: auto;
    display: flex;
}

.square {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.console {
    background-color: rgba(255, 255, 255, 0.4);
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

#background-button {
    margin: auto auto 10px auto;
    width: 120px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    opacity: 1;
}

#background-button:hover {
    background-color: rgb(58, 58, 58);
}