body {
    margin: 0px;
    background-color: #1b2236;
    font-family: "Arial Narrow", "Times New Roman", Verdana;
    display: flex;
    flex-direction: column;
}

#board {
    height: 700px;
    width: 700px;
    background-color: white;
    background-size: cover;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.row {
    flex: auto;
    display: flex;
}

.square {
    flex: auto;
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px auto 0px auto;
}